body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #a9fdd8;
  background-image: url("../images/background.jpg");
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 400;
}

label {
  display: inline-block;
  clear: left;
  width: 200px;
  text-align: center;
}

/* Main Section */
#main {
  padding: 3% 5%;
  margin: 5% 20%;
  background-color: #d7f8ff;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

/* Calculator */

.calculator {
  padding: 3% 7%;
}

.v-input {
  display: inline-block;
  width: 200px;
  margin: 10px 20px;
  padding: 10px 20px;
}

.calc-btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.calc:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.calc:active {
	position:relative;
	top:1px;
}
